.login-wrap {
  display: flex;
  justify-content: center;
}
.login-wrap .login-form {
  max-width: 300px;
}
.login-wrap .login-form-forgot {
  float: right;
}
.login-wrap .login-form-button {
  width: 100%;
}